:root {
  --background: #1a1112;
  --error: #ffb4ab;
  --error-container: #93000a;
  --inverse-on-surface: #382e2e;
  --inverse-primary: #8f4952;
  --inverse-surface: #f0dedf;
  --on-background: #f0dedf;
  --on-error: #690005;
  --on-error-container: #ffdad6;
  --on-primary: #561d26;
  --on-primary-container: #ffdadc;
  --on-primary-fixed: #3b0712;
  --on-primary-fixed-variant: #72333b;
  --on-secondary: #44292c;
  --on-secondary-container: #ffdadc;
  --on-secondary-fixed: #2c1517;
  --on-secondary-fixed-variant: #5c3f42;
  --on-surface: #f0dedf;
  --on-surface-variant: #d7c1c2;
  --on-tertiary: #442b06;
  --on-tertiary-container: #ffddb6;
  --on-tertiary-fixed: #2a1800;
  --on-tertiary-fixed-variant: #5d411b;
  --outline: #9f8c8d;
  --outline-variant: #524344;
  --primary: #ffb2b9;
  --primary-container: #72333b;
  --primary-fixed: #ffdadc;
  --primary-fixed-dim: #ffb2b9;
  --scrim: #000000;
  --secondary: #e5bdbf;
  --secondary-container: #5c3f42;
  --secondary-fixed: #ffdadc;
  --secondary-fixed-dim: #e5bdbf;
  --shadow: #000000;
  --source-color: #ff667e;
  --surface: #1a1112;
  --surface-bright: #413737;
  --surface-container: #271d1e;
  --surface-container-high: #312828;
  --surface-container-highest: #3d3233;
  --surface-container-low: #22191a;
  --surface-container-lowest: #140c0d;
  --surface-dim: #1a1112;
  --surface-tint: #ffb2b9;
  --surface-variant: #524344;
  --tertiary: #e8c08e;
  --tertiary-container: #5d411b;
  --tertiary-fixed: #ffddb6;
  --tertiary-fixed-dim: #e8c08e;
}

* {
  color: var(--on-surface);
  border: none;
  outline: none;
}

entry {
  all: unset;
}

text selection {
  background: var(--tertiary);
  color: var(--on-tertiary);
}

frame {
  background: transparent;
  border: unset;
}

button {
  border: unset;
  box-shadow: unset;

  padding: 2px 4px 2px 4px;
  margin: 0;

  color: var(--on-surface);
  background: transparent;

  transition: opacity 0.1s linear;

  &:hover {
    color: var(--on-surface-variant);
    background: var(--surface-variant);
  }

  &:checked {
    background: unquote("mix(var(--surface), var(--surface-container), 0.75)");
  }
}

popover {
  contents,
  arrow {
    background: unquote("mix(var(--surface), transparent, 0.2)");
  }
}

box {
  all: unset;
}

switch {
  background: gray;
  border: 3px solid gray;

  slider {
    background: white;
  }

  &:checked {
    border: 3px solid var(--primary);
    background: var(--primary);
  }
}

calendar {
  background: transparent;

  .today {
    color: var(--on-primary);
    background: var(--primary);
  }

  header {
    * {
      color: var(--on-secondary-container);
    }
    border-radius: 5px;
    background: var(--secondary-container);
  }

  *:selected {
    color: var(--on-secondary);
    background: var(--secondary);
  }
}

window {
  background: unquote("mix(var(--surface), transparent, 0.2)");
}

* {
  .azalea-primary-fg {
    color: var(--primary);
  }

  .azalea-secondary-fg {
    color: var(--secondary);
  }

  .azalea-tertiary-fg {
    color: var(--tertiary);
  }

  .azalea-primary-bg {
    background: var(--primary);
  }

  .azalea-secondary-bg {
    background: var(--secondary);
  }

  .azalea-tertiary-bg {
    background: var(--tertiary);
  }

  .azalea-primary {
    color: var(--on-primary);
    background: var(--primary);
  }

  .azalea-secondary {
    color: var(--on-secondary);
    background: var(--secondary);
  }

  .azalea-tertiary {
    color: var(--on-tertiary);
    background: var(--tertiary);
  }

  .azalea-primary-container {
    color: var(--on-primary-container);
    background: var(--primary-container);
  }

  .azalea-primary-container-hover:hover {
    color: var(--on-primary-container);
    background: var(--primary-container);
  }

  .azalea-secondary-container {
    color: var(--on-secondary-container);
    background: var(--secondary-container);
  }

  .azalea-secondary-container-hover:hover {
    color: var(--on-secondary-container);
    background: var(--secondary-container);
  }

  .azalea-tertiary-container {
    color: var(--on-tertiary-container);
    background: var(--tertiary-container);
  }

  .azalea-secondary-container-hover:hover {
    color: var(--on-secondary-container);
    background: var(--secondary-container);
  }

  &:checked {
    &.azalea-primary-button {
      border: 3px solid var(--primary);
      background: var(--primary);
    }

    &.azalea-secondary-button {
      border: 3px solid var(--secondary);
      background: var(--secondary);
    }

    &.azalea-tertiary-button {
      border: 3px solid var(--tertiary);
      background: var(--tertiary);
    }

    &.azalea-primary-container-button {
      border: 3px solid var(--primary-container);
      background: var(--primary-container);
    }

    &.azalea-secondary-container-button {
      border: 3px solid var(--secondary-container);
      background: var(--secondary-container);
    }

    &.azalea-tertiary-container-button {
      border: 3px solid var(--tertiary-container);
      background: var(--tertiary-container);
    }
  }
}

.azalea-bubble {
  border-radius: 10px;
}

.azalea-circle-bubble {
  border-radius: 50px;
}

.azalea-primary-border {
  border: 1px solid var(--primary);
}

.azalea-secondary-border {
  border: 1px solid var(--secondary);
}

.azalea-tertiary-border {
  border: 1px solid var(--tertiary);
}

.azalea-transparent {
  background: transparent;
}

.azalea-surface {
  background: var(--surface);
  &.azalea-semi-transparent {
    background: unquote("mix(var(--surface), transparent, 0.2)");
  }
}

.azalea-padding {
  padding: 15px;
}

.toggle:checked {
  background: transparent;
}
