:root {
  --background: #111416;
  --error: #ff5449;
  --error-container: #7b0007;
  --inverse-on-surface: #626467;
  --inverse-primary: #5286a8;
  --inverse-surface: #e1e2e5;
  --on-background: #606265;
  --on-error: #5c0003;
  --on-error-container: #ff7d70;
  --on-primary: #054a69;
  --on-primary-container: #76aacd;
  --on-primary-fixed: #96caef;
  --on-primary-fixed-variant: #72a6c9;
  --on-secondary: #192c38;
  --on-secondary-container: #93a6b6;
  --on-secondary-fixed: #b3c7d6;
  --on-secondary-fixed-variant: #8fa3b2;
  --on-surface: #a1a3a6;
  --on-surface-variant: #7d848a;
  --on-tertiary: #3d1c48;
  --on-tertiary-container: #c095c9;
  --on-tertiary-fixed: #e1b5eb;
  --on-tertiary-fixed-variant: #bc92c5;
  --outline: #4e555b;
  --outline-variant: #343b40;
  --primary: #6397b9;
  --primary-container: #003e5a;
  --primary-fixed: #1b5676;
  --primary-fixed-dim: #003e5a;
  --scrim: #000000;
  --secondary: #8093a2;
  --secondary-container: #2a3c49;
  --secondary-fixed: #415361;
  --secondary-fixed-dim: #2a3c49;
  --shadow: #000000;
  --source-color: #588cae;
  --surface: #111416;
  --surface-bright: #37393c;
  --surface-container: #1d2022;
  --surface-container-high: #282a2d;
  --surface-container-highest: #333537;
  --surface-container-low: #191c1e;
  --surface-container-lowest: #0c0e11;
  --surface-dim: #111416;
  --surface-tint: #99cdf1;
  --surface-variant: #41484d;
  --tertiary: #ab82b5;
  --tertiary-container: #4f2d59;
  --tertiary-fixed: #674472;
  --tertiary-fixed-dim: #4f2d59;
}

* {
  color: var(--on-surface);
  border: none;
}

entry {
  all: unset;
}

text selection {
  background: var(--tertiary);
  color: var(--on-tertiary);
}

frame {
  background: transparent;
  border: unset;
}

button {
  border: unset;
  box-shadow: unset;

  padding: 2px 4px 2px 4px;
  margin: 0;

  color: var(--on-surface);
  background: transparent;

  transition: opacity 0.1s linear;

  &:hover {
    color: var(--on-surface-variant);
    background: var(--surface-variant);
  }

  &:checked {
    background: unquote("mix(var(--surface), var(--surface-container), 0.75)");
  }
}

popover {
  contents,
  arrow {
    background: unquote("mix(var(--surface), transparent, 0.2)");
  }
}

box {
  all: unset;
}

switch {
  background: gray;
  border: 3px solid gray;

  slider {
    background: white;
  }

  &:checked {
    border: 3px solid var(--primary);
    background: var(--primary);
  }
}

calendar {
  background: transparent;

  .today {
    color: var(--on-primary);
    background: var(--primary);
  }
}

window {
  background: unquote("mix(var(--surface), transparent, 0.2)");
}

* {
  .azalea-primary-fg {
    color: var(--primary);
  }

  .azalea-secondary-fg {
    color: var(--secondary);
  }

  .azalea-tertiary-fg {
    color: var(--tertiary);
  }

  .azalea-primary-bg {
    background: var(--primary);
  }

  .azalea-secondary-bg {
    background: var(--secondary);
  }

  .azalea-tertiary-bg {
    background: var(--tertiary);
  }

  .azalea-primary {
    color: var(--on-primary);
    background: var(--primary);
  }

  .azalea-secondary {
    color: var(--on-secondary);
    background: var(--secondary);
  }

  .azalea-tertiary {
    color: var(--on-tertiary);
    background: var(--tertiary);
  }

  .azalea-primary-container {
    color: var(--on-primary-container);
    background: var(--primary-container);
  }

  .azalea-secondary-container {
    color: var(--on-secondary-container);
    background: var(--secondary-container);
  }

  .azalea-tertiary-container {
    color: var(--on-tertiary-container);
    background: var(--tertiary-container);
  }

  &:checked {
    &.azalea-primary-button {
      border: 3px solid var(--primary);
      background: var(--primary);
    }

    &.azalea-secondary-button {
      border: 3px solid var(--secondary);
      background: var(--secondary);
    }

    &.azalea-tertiary-button {
      border: 3px solid var(--tertiary);
      background: var(--tertiary);
    }

    &.azalea-primary-container-button {
      border: 3px solid var(--primary-container);
      background: var(--primary-container);
    }

    &.azalea-secondary-container-button {
      border: 3px solid var(--secondary-container);
      background: var(--secondary-container);
    }

    &.azalea-tertiary-container-button {
      border: 3px solid var(--tertiary-container);
      background: var(--tertiary-container);
    }
  }
}

.azalea-bubble {
  border-radius: 10px;
}

.azalea-primary-border {
  border: 3px solid var(--primary);
}

.azalea-transparent {
  background: transparent;
}

.azalea-surface {
  background: var(--surface);
  &.azalea-semi-transparent {
    background: unquote("mix(var(--surface), transparent, 0.2)");
  }
}

.azalea-padding {
  padding: 15px;
}

.toggle:checked {
  background: transparent;
}
